{
	"ModInfo" : {
		"__type" : "ModInfo,Assembly-CSharp",
		"value" : {
			"id" : "157.Items",
			"name" : "157 ITEMS v0.0.2",
			"version" : "0.0.2",
			"description" : "Items.\n\nGitHub repository: https://github.com/SpecialAPI/BOStuffPack",
			"authors" : "157",
			"showIconOnMainMenu" : false
		}
	}
}